<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>login</h1>
<div th:if="${ex != null}">
    <span th:text="${ex}"></span>
</div>
<div class="container">
    <form action="/login" method="POST">
        <div>
            <label class="form-label-username">username</label>
            <input type="type" class="form-input-username" name="username"/>
        </div>
        <div>
            <label class="form-label-password">password</label>
            <input type="password" class="form-input-password" name="password">
        </div>
        <button type="submit" class="btn">로그인</button>
        <div>
            <button type="button" th:onclick="|location.href='@{/register}'|">회원가입</button>
        </div>
        <div>
            <button type="button" th:onclick="|location.href='@{/oauth2/authorization/github}'|">login via github</button>
        </div>
    </form>
</div>
</body>
</html>